.App {
    text-align: center;
    background-color: #f3eee6;
}

.AppDark {
  text-align: center;
  background-color: #212121;
}

.Applogo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .Appheader {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .Apptitle {
    font-size: 1.5em;
  }
  
  .Appintro {
    font-size: large;
  }
  
  .Button{
    background-color: green;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  