.FilterBar {
    display: flex;
    padding: 16px calc(100px / 3);
    /* border-top: 1px solid #ccd6dd; */
    box-shadow: 0 2px 6px rgba(204,214,221,.38);
}

.FilterButton {
    border: 1px solid #ccd6dd;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 20%;
    height: 35px;
    padding: 0 10px;
    font-size: 12px;
    cursor: pointer;
}

.SecondFilterButton {
    border: 1px solid #ccd6dd;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 20%;
    height: 35px;
    font-size: 12px;
    padding: 0 10px;
    margin: 0 calc(100px / 3);
    cursor: pointer;
}

.Arrow {
    display: none
}
.ArrowReverse {
    display: none
}

.Slider {
    color: #69a88d;
    margin-top: 20px;
}

.PriceDialogFields {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Field {
    margin-top: 20px;
    width: 60%;
}

@media(min-width: 1024px) {
    .Arrow {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
    }
    .ArrowReverse {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
    }

    .PriceDialogFields {
        justify-content: space-evenly;
    }
    
    .Field {
        width: 30%;
    }
}